body {
    background-color: #fff;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 10px 0;
}

.container.gallery-container {
    background-color: #fff;
    color: #292b39;
    min-height: 100vh;
    border-radius: 20px;
  
}

.gallery-container h3 {
    text-align: center;
    margin-top: 15px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}
.caption p{
    text-align: center;
    padding-bottom: 20px;
}


.tz-gallery {
    padding: 10px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 10px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}